<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Flask-SQL-Example</title>
</head>

<body>
  <h1>Botnoi School</h1>
  <button type="button" onclick="window.location.href='{{ url_for( 'major.major' ) }}';">Major</button>
  <button type="button">Subject</button>
  <button type="button">Student</button>
</body>

</html>